{% assign collection = collections[section.settings.collection] %}
{{ collection }}
<div>
    {% for product in collection.products %}
        {% include 'product-items-test' %}
        {% else %}
        <p>no matches for {{ collection.title }}</p>
        <p>{{ product }}</p>
    {% endfor %}
</div>

{% schema %}
    {
        "name": "Featured Collection Test",
        "settings": [
            {
                "type": "collection",
                "id": "collection",
                "label": "Collection"
            }
        ],
        "presets": [
            {
                "name": "Featured Collection Test",
                "category": "Custom Content"
            }
        ]
    }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}