{% assign collection = collections['featured-collections'] %}
<div>
    {% for product in collection.products %}
        {% render 'product-items-test' %}
        {% else %}
        <p>no matches for {{ collection.title }}</p>
        <p>{{ product }}</p>
    {% endfor %}
</div>

{% schema %}
    {
        "name": "Featured Collection Test",
        "settings": [],
        "presets": [
            {
                "name": "Featured Collection Test",
                "category": "Custom Content"
            }
        ]
    }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}