<div class="gallery">
  {% for block in section.blocks %}
    <div class="image-wrap"
      style="border: solid;
      background-image: url('{{ block.settings.image | img_url: '500x' }}');">
    
    </div>
  {% endfor %}
</div>
{% schema %}
  {
    "name": "Gallery",
    "settings": [
      {
        "type": "select",
        "id": "per-row",
        "label": "Images per row",
        "default": "33%",
        "options": [
          {
            "value": "49.5%",
            "label": "2 per row"
          },
          {
            "value": "33%",
            "label": "3 per row"
          },
          {
            "value": "24.5%",
            "label": "4 per row"
          },
          {
            "value": "19.5%",
            "label": "5 per row"
          }
        ]
      },
      {
        "type": "select",
        "id": "pic-height",
        "label": "Image height",
        "default": "500px",
        "options": [
          {
            "value": "300px",
            "label": "300px"
          },
          {
            "value": "400px",
            "label": "400px"
          },
          {
            "value": "500px",
            "label": "500px"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}

{% style %}
.image-wrap {
  display: inline-block;
  width: {{ section.settings.per-row }};
  height: {{ section.settings.pic-height}};
  background-size: cover;
}
{% endstyle %}

{% javascript %}
{% endjavascript %}
