<div class="gallery"></div>
  {% for block in section.blocks %}
    <div class="image-wrap"
      style="background-image: url('{{ block.settings.image | img_url: '500x' | img_tag: 'TEST' }}');
      width: 500px;
      height: 500px;
      background-size: cover;">
    </div>
  {% endfor %}
{% schema %}
  {
    "name": "Gallery",
    "settings": [],
    "blocks": [
      {
        "type": "image",
        "name": "Image Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
