<div class="gallery">
  {% for block in section.blocks %}
    <div class="image-wrap">
    {{ block.settings.image | img_url: '500x' | img_tag: 'TEST' }}
  {% endfor %}
</div>
{% schema %}
  {
    "name": "Gallery",
    "settings": [],
    "blocks": [
      {
        "type": "image",
        "name": "Image Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
